<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>Top <%= top_count %> Pages</title>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
   <link href="/css/common.css" type="text/css" rel="stylesheet"/>
   <link href="/css/top.css" type="text/css" rel="stylesheet"/>
   <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
   <script type="text/javascript" src="/js/common.js"></script>
   <script type="text/javascript">
     $(document).ready(function(){
       $("#content").css("margin-left", ($(window).width() - $("#content").width()) / 2);
     });
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35732495-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
   </script>
</head>

<body>
   <div id="mainDiv">
      <div id="content">
        <table id="topResult">
          <tr class="tableHeader">
            <th>#</th>
            <th>URL Suffix</th>
            <th>Created Time</th>
            <th>View Count</th>
          </tr>
          <% row = 0 %>
          <% pages.each do |page| %>
          <tr class="<%= row % 2 == 0 ? "odd" : "even" %>">
            <td><%= row + 1 %></td>
            <td><a href="/page/<%= page.url_mapping %>"><%= page.url_mapping %></a></td>
            <td><%= page.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= page.view_count %></td>
          </tr>
          <% row += 1%>
          <% end %>
        </table>
        
      </div>
      <div id="copyright">
         Inspired by <a href="http://www.openrise.com/lab/FlowerPower/">FlowerPower</a> project.<br />
         Copyright © <%= Time.now.year %>  <a href='http://hackerzhou.me'>hackerzhou.me</a> 2009-<%= Time.now.year %>
      </div>
   </div>
</body>
</html>